:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  position: relative;

  min-height: calc(100vh - 85px);
  padding-bottom: 85px;
  background-color: #fdf4f4;
}

* {
  margin: 0;
  padding: 0;
}

.inner {
  max-width: 980px;
  margin: 0 auto;
}